* {
  box-sizing: border-box;
}

body {
  background: #22254b;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 15px;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0, 0, 0.1);
  width: 300px;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-over {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #22254b;
  padding: 1rem;
  max-height: 100%;
  overflow: auto;
  transform: translateY(102%);
  transition: transform .4s ease;
}

.movie:hover .movie-over {
  transform: translateY(0);
}